.COMPONENTS-text-area {
  position: relative;
}

.COMPONENTS-text-area .input-element-text {
  align-items: center;
  display: flex;
}

.COMPONENTS-text-area .input-element {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 8px;
  position: relative;
  width: 359px;
}

.COMPONENTS-text-area .div {
  position: relative;
}

.COMPONENTS-text-area .text-2 {
  color: var(--dark-100);
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  margin-top: -1px;
  position: relative;
  width: 345px;
}

.COMPONENTS-text-area .div-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.COMPONENTS-text-area .keyboard-UI {
  height: 52px !important;
  position: relative !important;
  width: 2px !important;
}

.COMPONENTS-text-area .typography {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}

.COMPONENTS-text-area .text-3 {
  align-self: stretch;
  font-family: "DM Mono", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  line-height: 14px;
  margin-top: -1px;
  position: relative;
}

.COMPONENTS-text-area .character-count {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  height: 16px;
  justify-content: flex-end;
  position: relative;
}

.COMPONENTS-text-area .typography-2 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.COMPONENTS-text-area .text-4 {
  font-family: var(--mono-font-family);
  font-size: var(--mono-font-size);
  font-style: var(--mono-font-style);
  font-weight: var(--mono-font-weight);
  letter-spacing: var(--mono-letter-spacing);
  line-height: var(--mono-line-height);
  margin-top: -1px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.COMPONENTS-text-area .COMPONENTS-text {
  display: flex;
  flex-direction: column;
}

.COMPONENTS-text-area .eyebrow-2 {
  position: relative;
}

.COMPONENTS-text-area .min-height {
  height: 40px;
  position: relative;
  width: 1px;
}

.COMPONENTS-text-area .input-element-2 {
  display: flex;
  position: relative;
}

.COMPONENTS-text-area .text-5 {
  align-self: stretch;
  margin-top: -1px;
  position: relative;
}

.COMPONENTS-text-area .keyboard-ui-universal-input-cursor-1 {
  height: 20px !important;
  position: relative !important;
  width: 2px !important;
}

.COMPONENTS-text-area .input-element-3 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}

.COMPONENTS-text-area .text-6 {
  align-self: stretch;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-top: -1px;
  position: relative;
}

.COMPONENTS-text-area .overlap-group {
  position: relative;
}

.COMPONENTS-text-area .COMPONENTS-text-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 110px;
  left: 0;
  position: absolute;
  top: 0;
  width: 408px;
}

.COMPONENTS-text-area .type-body-2 {
  color: var(--light-100) !important;
}

.COMPONENTS-text-area .type-h {
  height: 118px !important;
  justify-content: flex-end !important;
  margin-bottom: -8px !important;
  width: 408px !important;
}

.COMPONENTS-text-area .class {
  color: var(--light-075) !important;
  flex: 1 !important;
  font-family: "DM Mono", Helvetica !important;
  font-size: 14px !important;
  font-style: unset !important;
  font-weight: 500 !important;
  letter-spacing: 1.4px !important;
  line-height: 14px !important;
}

.COMPONENTS-text-area .class-2 {
  flex: 1 !important;
  font-family: "DM Mono", Helvetica !important;
  font-size: 14px !important;
  font-style: unset !important;
  font-weight: 500 !important;
  letter-spacing: 1.4px !important;
  line-height: 14px !important;
}

.COMPONENTS-text-area .v {
  height: 11px;
  left: 56px;
  position: absolute;
  top: 2px;
  width: 11px;
}

.COMPONENTS-text-area .overlap-group-wrapper {
  position: absolute;
}

.COMPONENTS-text-area .overlap-group-2 {
  position: relative;
}

.COMPONENTS-text-area .COMPONENTS-cursor {
  background-image: url(../../../static/img/text-cursor-1.svg);
  background-size: 100% 100%;
  height: 32px;
  left: 344px;
  position: absolute;
  top: 140px;
  width: 32px;
}

.COMPONENTS-text-area .type-body-instance {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 408px !important;
}

.COMPONENTS-text-area .ellipse {
  background-color: #d5a46c73;
  border-radius: 13.5px;
  height: 27px;
  position: absolute;
  width: 27px;
}

.COMPONENTS-text-area .eyebrow-3 {
  align-self: stretch;
  font-family: "DM Mono", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  line-height: 14px;
  margin-top: -1px;
  position: relative;
}

.COMPONENTS-text-area .COMPONENTS-cursor-2 {
  background-size: 100% 100%;
  height: 32px;
  left: 3px;
  position: absolute;
  top: 9px;
  width: 32px;
}

.COMPONENTS-text-area .img {
  height: 11px;
  left: 76px;
  position: absolute;
  top: 2px;
  width: 11px;
}

.COMPONENTS-text-area .type-body-2-instance {
  height: 458px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 408px !important;
}

.COMPONENTS-text-area .instance-node {
  color: var(--light-075) !important;
}

.COMPONENTS-text-area .cursor-2 {
  height: 41px;
  left: 341px;
  position: absolute;
  top: 131px;
  width: 35px;
}

.COMPONENTS-text-area .overlap-group-3 {
  height: 41px;
  position: relative;
}

.COMPONENTS-text-area .ellipse-2 {
  background-color: #d5a46c73;
  border-radius: 13.5px;
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 27px;
}

.COMPONENTS-text-area .COMPONENTS-cursor-3 {
  background-image: url(../../../static/img/text-cursor.svg);
  background-size: 100% 100%;
  height: 32px;
  left: 3px;
  position: absolute;
  top: 9px;
  width: 32px;
}

.COMPONENTS-text-area .input-element-text-2 {
  align-items: center;
  border-radius: 20px;
  display: flex;
  height: 88px;
  left: 0;
  padding: 8px 16px;
  position: absolute;
  top: 30px;
  width: 408px;
}

.COMPONENTS-text-area .text-area-content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  position: relative;
  width: 376px;
}

.COMPONENTS-text-area .text-cursor {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  margin-right: -20px;
  position: relative;
}

.COMPONENTS-text-area .input-element-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 369px;
}

.COMPONENTS-text-area .text-7 {
  align-self: stretch;
  color: var(--dark-060);
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  margin-top: -1px;
  position: relative;
}

.COMPONENTS-text-area .min-height-2 {
  height: 40px;
  margin-left: -337px;
  position: relative;
  width: 1px;
}

.COMPONENTS-text-area .text-cursor-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  position: relative;
}

.COMPONENTS-text-area .text-8 {
  color: var(--light-070);
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.COMPONENTS-text-area .input-element-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 369px;
}

.COMPONENTS-text-area .text-9 {
  align-self: stretch;
  color: var(--light-070);
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  margin-top: -1px;
  position: relative;
}

.COMPONENTS-text-area .type-h2 {
  height: 118px !important;
  justify-content: flex-end !important;
  width: 408px !important;
}

.COMPONENTS-text-area .COMPONENTS-text-2 {
  flex: 0 0 auto !important;
  width: 408px !important;
}

.COMPONENTS-text-area.with-cursor {
  width: 408px;
}

.COMPONENTS-text-area.text-filled-w-o-cursor {
  height: 118px;
  width: 408px;
}

.COMPONENTS-text-area.finished {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
}

.COMPONENTS-text-area.with-cursor-w-cursor {
  height: 118px;
  width: 408px;
}

.COMPONENTS-text-area.default {
  width: 408px;
}

.COMPONENTS-text-area.cursor {
  height: 118px;
  width: 408px;
}

.COMPONENTS-text-area.finished-on-hover {
  width: 408px;
}

.COMPONENTS-text-area.text-filled {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 408px;
}

.COMPONENTS-text-area.empty {
  width: 408px;
}

.COMPONENTS-text-area.text-filled-w-cursor {
  height: 118px;
  width: 408px;
}

.COMPONENTS-text-area.text.finished-on-hover {
  height: 458px;
}

.COMPONENTS-text-area.finished.title {
  height: 118px;
}

.COMPONENTS-text-area.with-cursor.title {
  height: 118px;
}

.COMPONENTS-text-area.text.empty {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.COMPONENTS-text-area.finished-on-hover.title {
  height: 126px;
}

.COMPONENTS-text-area.text.default {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.COMPONENTS-text-area.default.title {
  height: 118px;
}

.COMPONENTS-text-area.text.with-cursor {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.COMPONENTS-text-area.empty.title {
  height: 118px;
}

.COMPONENTS-text-area .state-text-filled-w-o-cursor {
  padding: 8px 16px;
}

.COMPONENTS-text-area .type-text {
  align-self: stretch;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.COMPONENTS-text-area .type-title {
  border-radius: 20px;
  height: 88px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 30px;
  width: 408px;
}

.COMPONENTS-text-area .state-text-filled-w-cursor {
  padding: 8px 16px 8px 24px;
}

.COMPONENTS-text-area .off.type-title {
  background-color: var(--dark-010);
}

.COMPONENTS-text-area .state-default.type-title {
  padding: 8px 16px;
}

.COMPONENTS-text-area .on.type-title {
  background-color: var(--light-010);
}

.COMPONENTS-text-area .state-with-cursor {
  border: 2px solid;
}

.COMPONENTS-text-area .type-0-text {
  align-items: flex-end;
  align-self: stretch;
  border-radius: 20px;
  flex: 0 0 auto;
  overflow: hidden;
  padding: 16px;
  position: relative;
  width: 100%;
}

.COMPONENTS-text-area .type-0-title {
  align-items: flex-start;
  gap: 24px;
  height: 14px;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  top: 0;
  width: 408px;
}

.COMPONENTS-text-area .state-empty {
  border: 2px solid;
}

.COMPONENTS-text-area .type-0-text.dark-mode-2-on {
  background-color: var(--light-010);
}

.COMPONENTS-text-area .dark-mode-2-off.state-empty {
  border-color: var(--dark-100);
}

.COMPONENTS-text-area .state-with-cursor.dark-mode-2-on {
  border-color: var(--light-100);
}

.COMPONENTS-text-area .dark-mode-2-off.type-0-text {
  background-color: var(--dark-010);
}

.COMPONENTS-text-area .dark-mode-2-off.state-with-cursor {
  border-color: var(--dark-100);
}

.COMPONENTS-text-area .dark-mode-2-on.state-empty {
  border-color: var(--light-100);
}

.COMPONENTS-text-area .dark-mode-8-on {
  color: var(--light-075);
}

.COMPONENTS-text-area .dark-mode-8-off {
  color: var(--dark-050);
}

.COMPONENTS-text-area .dark-mode-9-on {
  background-image: url(../../../static/img/text-cursor-2.svg);
}

.COMPONENTS-text-area .dark-mode-9-off {
  background-image: url(../../../static/img/text-cursor-3.svg);
}

.COMPONENTS-text-area .state-7-with-cursor {
  border: 2px solid;
  overflow: hidden;
}

.COMPONENTS-text-area .dark-mode-10-off {
  background-color: var(--dark-010);
  border-color: var(--dark-100);
}

.COMPONENTS-text-area .state-7-with-cursor-w-cursor {
  overflow: hidden;
}

.COMPONENTS-text-area .dark-mode-10-on {
  background-color: var(--light-010);
  border-color: var(--light-100);
}

.COMPONENTS-text-area .state-7-cursor {
  border: 2px solid;
  overflow: hidden;
}

.COMPONENTS-text-area .state-7-empty {
  border: 2px solid;
}

.COMPONENTS-text-area .input-element-text.off .div {
  color: var(--dark-060);
}

.COMPONENTS-text-area .input-element-text.state-default .div {
  align-self: stretch;
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  margin-top: -1px;
}

.COMPONENTS-text-area .input-element-text.on .div {
  align-self: stretch;
  color: var(--light-070);
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  margin-top: -1px;
}

.COMPONENTS-text-area .input-element-text.off.state-text-filled-w-o-cursor .div {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  margin-right: -20px;
  width: 363px;
}

.COMPONENTS-text-area .input-element-text.on .text-3 {
  color: var(--light-075);
}

.COMPONENTS-text-area .input-element-text.off .text-3 {
  color: var(--dark-050);
}

.COMPONENTS-text-area .input-element-text.on .text-4 {
  color: var(--light-075);
}

.COMPONENTS-text-area .input-element-text.off .text-4 {
  color: var(--dark-070);
}

.COMPONENTS-text-area .COMPONENTS-text.state-text-filled-w-o-cursor .eyebrow-2 {
  align-self: stretch;
}

.COMPONENTS-text-area .COMPONENTS-text.type-0-text .eyebrow-2 {
  align-items: flex-start;
  flex: 0 0 auto;
}

.COMPONENTS-text-area .COMPONENTS-text.state-default .eyebrow-2 {
  align-self: stretch;
}

.COMPONENTS-text-area .COMPONENTS-text.state-text-filled .eyebrow-2 {
  align-self: stretch;
}

.COMPONENTS-text-area .COMPONENTS-text.type-0-title .eyebrow-2 {
  font-family: "DM Mono", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  line-height: 14px;
  margin-top: -1px;
}

.COMPONENTS-text-area .COMPONENTS-text.state-text-filled-w-cursor .eyebrow-2 {
  align-self: stretch;
}

.COMPONENTS-text-area .COMPONENTS-text.dark-mode-2-off.state-empty .eyebrow-2 {
  align-self: stretch;
}

.COMPONENTS-text-area .COMPONENTS-text.state-with-cursor.dark-mode-2-on .eyebrow-2 {
  display: inline-flex;
}

.COMPONENTS-text-area .COMPONENTS-text.dark-mode-2-off.type-0-title .eyebrow-2 {
  color: var(--dark-050);
}

.COMPONENTS-text-area .COMPONENTS-text.dark-mode-2-off.type-0-text .eyebrow-2 {
  display: flex;
  width: 100%;
}

.COMPONENTS-text-area .COMPONENTS-text.type-0-text.state-text-filled .eyebrow-2 {
  display: flex;
  width: 100%;
}

.COMPONENTS-text-area .COMPONENTS-text.type-0-text.state-default .eyebrow-2 {
  display: flex;
  width: 100%;
}

.COMPONENTS-text-area .COMPONENTS-text.dark-mode-2-off.state-with-cursor .eyebrow-2 {
  align-self: stretch;
}

.COMPONENTS-text-area .COMPONENTS-text.dark-mode-2-on.type-0-title .eyebrow-2 {
  color: var(--light-075);
}

.COMPONENTS-text-area .COMPONENTS-text.state-text-filled.dark-mode-2-on .eyebrow-2 {
  display: flex;
  width: 100%;
}

.COMPONENTS-text-area .COMPONENTS-text.dark-mode-2-on.state-empty .eyebrow-2 {
  display: inline-flex;
}

.COMPONENTS-text-area .COMPONENTS-text.state-with-cursor .min-height {
  margin-bottom: -29763px;
}

.COMPONENTS-text-area .COMPONENTS-text.state-default .min-height {
  margin-bottom: -29995px;
}

.COMPONENTS-text-area .COMPONENTS-text.dark-mode-2-on .min-height {
  margin-left: -337px;
}

.COMPONENTS-text-area .COMPONENTS-text.state-text-filled .min-height {
  margin-bottom: -29239px;
}

.COMPONENTS-text-area .COMPONENTS-text.state-empty .min-height {
  margin-bottom: -29879px;
}

.COMPONENTS-text-area .COMPONENTS-text.state-with-cursor .input-element-2 {
  align-items: center;
}

.COMPONENTS-text-area .COMPONENTS-text.dark-mode-2-off .input-element-2 {
  flex: 1;
  flex-grow: 1;
}

.COMPONENTS-text-area .COMPONENTS-text.state-default .input-element-2 {
  align-items: flex-start;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.COMPONENTS-text-area .COMPONENTS-text.state-text-filled .input-element-2 {
  align-items: flex-start;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.COMPONENTS-text-area .COMPONENTS-text.state-empty .input-element-2 {
  align-items: center;
}

.COMPONENTS-text-area .COMPONENTS-text.dark-mode-2-off.state-empty .input-element-2 {
  gap: 3px;
}

.COMPONENTS-text-area .COMPONENTS-text.state-with-cursor.dark-mode-2-on .input-element-2 {
  gap: 2px;
  width: 376px;
}

.COMPONENTS-text-area .COMPONENTS-text.dark-mode-2-off.state-with-cursor .input-element-2 {
  gap: 3px;
}

.COMPONENTS-text-area .COMPONENTS-text.dark-mode-2-on.state-empty .input-element-2 {
  gap: 2px;
  width: 376px;
}

.COMPONENTS-text-area .COMPONENTS-text.state-with-cursor .text-5 {
  color: var(--dark-060);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.COMPONENTS-text-area .COMPONENTS-text.state-text-filled-w-o-cursor .text-5 {
  color: var(--dark-060);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.COMPONENTS-text-area .COMPONENTS-text.state-finished .text-5 {
  color: var(--dark-060);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.COMPONENTS-text-area .COMPONENTS-text.state-with-cursor-w-cursor .text-5 {
  color: var(--dark-060);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.COMPONENTS-text-area .COMPONENTS-text.state-default .text-5 {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.COMPONENTS-text-area .COMPONENTS-text.state-cursor .text-5 {
  color: var(--dark-060);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.COMPONENTS-text-area .COMPONENTS-text.state-finished-on-hover .text-5 {
  color: var(--dark-060);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.COMPONENTS-text-area .COMPONENTS-text.state-text-filled .text-5 {
  font-family: var(--paragraph-font-family);
  font-size: var(--paragraph-font-size);
  font-style: var(--paragraph-font-style);
  font-weight: var(--paragraph-font-weight);
  letter-spacing: var(--paragraph-letter-spacing);
  line-height: var(--paragraph-line-height);
}

.COMPONENTS-text-area .COMPONENTS-text.state-empty .text-5 {
  color: var(--dark-060);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.COMPONENTS-text-area .COMPONENTS-text.state-text-filled-w-cursor .text-5 {
  color: var(--dark-060);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.COMPONENTS-text-area .COMPONENTS-text.state-default.dark-mode-2-on .text-5 {
  color: var(--light-070);
}

.COMPONENTS-text-area .COMPONENTS-text.dark-mode-2-off.state-default .text-5 {
  color: var(--dark-060);
}

.COMPONENTS-text-area .COMPONENTS-text.dark-mode-2-off.state-text-filled .text-5 {
  color: var(--dark-100);
}

.COMPONENTS-text-area .COMPONENTS-text.state-text-filled.dark-mode-2-on .text-5 {
  color: var(--light-100);
}

.COMPONENTS-text-area .COMPONENTS-text.dark-mode-2-on .text-6 {
  color: var(--light-070);
}

.COMPONENTS-text-area .COMPONENTS-text.dark-mode-2-off .text-6 {
  color: var(--dark-060);
}

.COMPONENTS-text-area.with-cursor .overlap-group {
  height: 118px;
}

.COMPONENTS-text-area.with-cursor-w-cursor .overlap-group {
  height: 118px;
}

.COMPONENTS-text-area.cursor .overlap-group {
  height: 118px;
}

.COMPONENTS-text-area.empty .overlap-group {
  height: 118px;
}

.COMPONENTS-text-area.text.finished-on-hover .overlap-group {
  height: 458px;
}

.COMPONENTS-text-area.text.text-filled-w-cursor .overlap-group {
  height: 458px;
}

.COMPONENTS-text-area.text.text-filled .overlap-group {
  height: 458px;
}

.COMPONENTS-text-area.text.finished .overlap-group {
  height: 458px;
}

.COMPONENTS-text-area.finished-on-hover.title .overlap-group {
  height: 126px;
}

.COMPONENTS-text-area.text.default .overlap-group {
  height: 458px;
}

.COMPONENTS-text-area.text.text-filled-w-o-cursor .overlap-group {
  height: 458px;
}

.COMPONENTS-text-area.with-cursor .overlap-group-wrapper {
  left: 0;
  top: 0;
  width: 408px;
}

.COMPONENTS-text-area.text-filled-w-o-cursor .overlap-group-wrapper {
  left: 0;
  top: 0;
  width: 408px;
}

.COMPONENTS-text-area.finished .overlap-group-wrapper {
  left: 0;
  top: 0;
  width: 408px;
}

.COMPONENTS-text-area.text .overlap-group-wrapper {
  height: 458px;
  left: 0;
  top: 0;
  width: 408px;
}

.COMPONENTS-text-area.with-cursor-w-cursor .overlap-group-wrapper {
  left: 0;
  top: 0;
  width: 408px;
}

.COMPONENTS-text-area.default .overlap-group-wrapper {
  left: 0;
  top: 0;
  width: 408px;
}

.COMPONENTS-text-area.cursor .overlap-group-wrapper {
  left: 0;
  top: 0;
  width: 408px;
}

.COMPONENTS-text-area.text-filled .overlap-group-wrapper {
  left: 0;
  top: 0;
  width: 408px;
}

.COMPONENTS-text-area.empty .overlap-group-wrapper {
  left: 0;
  top: 0;
  width: 408px;
}

.COMPONENTS-text-area.text-filled-w-cursor .overlap-group-wrapper {
  left: 0;
  top: 0;
  width: 408px;
}

.COMPONENTS-text-area.with-cursor.title .overlap-group-wrapper {
  height: 118px;
}

.COMPONENTS-text-area.finished-on-hover.title .overlap-group-wrapper {
  height: 41px;
  left: 322px;
  top: 85px;
  width: 35px;
}

.COMPONENTS-text-area.with-cursor-w-cursor.title .overlap-group-wrapper {
  height: 118px;
}

.COMPONENTS-text-area.cursor.title .overlap-group-wrapper {
  height: 118px;
}

.COMPONENTS-text-area.empty.title .overlap-group-wrapper {
  height: 118px;
}

.COMPONENTS-text-area.with-cursor .overlap-group-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-end;
  width: 408px;
}

.COMPONENTS-text-area.text .overlap-group-2 {
  height: 458px;
}

.COMPONENTS-text-area.with-cursor-w-cursor .overlap-group-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-end;
  width: 408px;
}

.COMPONENTS-text-area.cursor .overlap-group-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-end;
  width: 408px;
}

.COMPONENTS-text-area.empty .overlap-group-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-end;
  width: 408px;
}

.COMPONENTS-text-area.with-cursor.title .overlap-group-2 {
  height: 14px;
}

.COMPONENTS-text-area.finished-on-hover.title .overlap-group-2 {
  height: 41px;
}

.COMPONENTS-text-area.with-cursor-w-cursor.title .overlap-group-2 {
  height: 14px;
}

.COMPONENTS-text-area.cursor.title .overlap-group-2 {
  height: 14px;
}

.COMPONENTS-text-area.empty.title .overlap-group-2 {
  height: 14px;
}

.COMPONENTS-text-area.text .ellipse {
  left: 341px;
  top: 131px;
}

.COMPONENTS-text-area.title .ellipse {
  left: 0;
  top: 0;
}

.COMPONENTS-text-area .input-element-text-2.state-7-with-cursor .text-area-content {
  padding: 0px 10px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-text-filled-w-o-cursor .text-area-content {
  padding: 0px 10px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-finished .text-area-content {
  padding: 0px 10px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-with-cursor-w-cursor .text-area-content {
  padding: 0px 10px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-default .text-area-content {
  padding: 0px 10px;
}

.COMPONENTS-text-area .input-element-text-2.dark-mode-10-on .text-area-content {
  padding: 0px 10px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-finished-on-hover .text-area-content {
  padding: 0px 10px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-text-filled .text-area-content {
  padding: 0px 10px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-empty .text-area-content {
  padding: 0px 10px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-text-filled-w-cursor .text-area-content {
  padding: 0px 10px;
}

.COMPONENTS-text-area .input-element-text-2.dark-mode-10-off.state-7-cursor .text-area-content {
  padding: 10px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-cursor .text-cursor {
  align-self: stretch;
}

.COMPONENTS-text-area .input-element-text-2.state-7-cursor .input-element-4 {
  margin-bottom: -10px;
  margin-top: -10px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-with-cursor .min-height-2 {
  margin-bottom: -30517px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-text-filled-w-o-cursor .min-height-2 {
  margin-bottom: -30655px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-finished .min-height-2 {
  margin-bottom: -30655px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-with-cursor-w-cursor .min-height-2 {
  margin-bottom: -30379px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-default .min-height-2 {
  margin-bottom: -30655px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-cursor .min-height-2 {
  margin-bottom: -30655px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-finished-on-hover .min-height-2 {
  margin-bottom: -30655px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-text-filled .min-height-2 {
  margin-bottom: -30655px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-empty .min-height-2 {
  margin-bottom: -30655px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-text-filled-w-cursor .min-height-2 {
  margin-bottom: -30655px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-with-cursor .text-cursor-2 {
  margin-right: -20px;
}

.COMPONENTS-text-area .input-element-text-2.state-7-cursor .text-cursor-2 {
  margin-right: -20px;
}
