.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.upload-area {
  border: 2px dashed #ccc;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
}

.color-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-palette {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.color {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add responsive design */
@media (max-width: 768px) {
  .color-palette {
    flex-direction: column;
  }
}
