
:root {
  /* Default is light theme */
  --primary-bg-color: #FFFFFF;
  --primary-text-color: #121212;
  --secondary-bg-color: white;
  --border-color: #ccc;
  --hover-border-color: rgb(90, 82, 82);
  --icon-bg-color: #ccc;
  --icon-color: #666;
  --file-info-color: #666;
}

[data-theme="dark"] {
  /* Dark theme colors */
  --primary-bg-color: #16131d;
  --primary-text-color: white;
  --secondary-bg-color: #1a1b1e;
  --border-color: #666;
  --hover-border-color: lightgray;
  --icon-bg-color: #888;
  --icon-color: white;
  --file-info-color: lightgray;
}
[data-theme="dark"] .upload-icon {
  stroke: var(--icon-color); /* This will apply if your SVG uses stroke */
  fill: var(--icon-color); 
}
.App {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  transition: background-color 0.3s, color 0.3s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden; /* Ensure content within the rounded corners is visible */
  min-height: 100vh;
}

.App-header {
  /* background-color: var(--primary-bg-color); */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans-Bold", Helvetica;
  font-size: calc(10px + 2vmin);
  color: var(--primary-text-color);
}

.app-content {
  align-self: stretch;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  padding: 32px;
  overflow: hidden; /* Ensure content within the rounded corners is visible */

  justify-content: center;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.upload-area {
  border: 1px dashed;
  border-radius: 10px;
  border-color: var(--dark-050);
  text-align: center;
  padding: 20px 40px; /* bottom & top, left & right*/
  cursor: pointer;
  position: relative;
  transition: border-color 0.3s;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  overflow: hidden;
}

.upload-area:hover {
  border-color: rgb(90, 82, 82);
}

.upload-icon {
  font-size: 24px;
  height: 40px; 
  width: 40px; 
  line-height: 40px;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  /*stroke: var(--icon-color); /* Apply the icon color variable here */
  /*fill: var(--icon-color); /* If your SVG uses fill instead of stroke */
}

.upload-area p {
  margin: 0;
  font-size: 16px;
  color: #666;
}

.file-size-info {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #666;
}

.info-icon {
  padding-right: 5px;
}

/* Hides the file input but keeps its functionality */
.upload-area input[type="file"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.image-preview {
  text-align: center;
  position: relative;
  height: auto;
  width: auto;
  max-width: 430px;
  min-width: 200px;
  display: inline-block; /* Adjusted display property */
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.image-preview img {
  object-fit: cover;  /* Ensures the image will fit inside the container */
  max-width: 430px;
  min-width: 200px;
  width: 100%;
  height: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
  color: #fff; /* Set the color based on your design */
}

.color-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-palette {
  width: 60%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 32px;
}

.color {
  width: calc((100% - 20px) / 2); /* Two colors side by side */
  height: 100px; /* Adjust the height as needed */
  background-color: #ccc; /* Set your default color here */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  flex-direction: row;
  align-items: center; 
  margin-bottom: 10px;
}

/* .color:nth-child(n+3) {
  width: calc(100% / var(--num-colors));} /* Dynamic width calculation */

/* The reverse order so it will not satisfy all */

.color:nth-child(n+8) {
  width: calc((100% - 80px)/8);
}

.color:nth-child(n+7) {
  width: calc((100% - 70px)/7);
}

.color:nth-child(n+6) {
  width: calc((100% - 60px)/6); 
}

.color:nth-child(n+5) {
  width: calc((100% - 50px)/5);
}

.color:nth-child(n+4) {
  width: calc((100% - 40px)/4);
}

/* Adjustments for cases with 3 or more colors */
.color:nth-child(n+3) {
  width: calc((100% - 30px)/3); 
  /* Three colors in a row */
}

.theme-switcher {
  position: absolute;
  top: 10px;
  right: 10px;
}

.theme-switcher button {
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
}

/* Create 2 equal columns that float next to each other */
/* .column {
  float: left;
  width: 60%;
} */

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} */

/* .colour name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.colour info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
} */

.content-block {
  /* margin-top: 128px;
  margin-bottom: 128px;
  margin-left: 96px;
  margin-right: 76px; */

  display: flex;
  align-items: center;

  padding: 128px 76px 128px 96px;
  flex-direction: column;
  gap: 50px;
  flex-shrink: 0;
}

.content-block text_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.content-block text_block_text {
  align-self: stretch;
  color: var(--dark-100, #121212);

  /* H2 */
  font-family: DM Sans;
  font-size: 172px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -3.6px;
}

.content-block text_block_subtext {
  position: fixed;
  width: 424px;
  top: 0;
  left: 0;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  color: var(--dark-050);
  font-size: 20px;
  letter-spacing: -0.4px;
  line-height: 24px;
  align-self: stretch;
  color: var(--dark-050, rgba(18, 18, 18, 0.50));
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  letter-spacing: -0.4px;
}

.content-block uploader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
