.App {
  text-align: center;
}

.App-header {
  background-color: #445d8f;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.upload-area {
  border: 2px dashed #ccc;
  border-radius: 8px;
  text-align: center;
  padding: 40px 20px;
  margin: 20px auto;
  cursor: pointer;
  position: relative;
  transition: border-color 0.3s;
}

.upload-area:hover {
  border-color: rgb(90, 82, 82);
}

.upload-icon {
  font-size: 24px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  width: 40px; /* Adjust as needed */
  line-height: 40px; /* Adjust as needed */
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 50%; /* Makes it circular */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.upload-area p {
  margin: 0;
  font-size: 16px;
  color: #666;
}

.file-size-info {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #666;
}

.info-icon {
  padding-right: 5px;
}

/* Hides the file input but keeps its functionality */
.upload-area input[type="file"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.color-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-palette {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.color {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add responsive design */
@media (max-width: 768px) {
  .color-palette {
    flex-direction: column;
  }
}
