@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}


/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto;
  overflow: hidden; /* This is important to ensure the image doesn't exceed the circular boundary */
  border-radius: 50%; /* This creates a circular shape */
}

.section__pic-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This ensures the image fills the circular container */
}

.section__pic-container2 {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}


/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: rgba(234, 228, 228, 0.6);
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}
/* *************************************************************************** */
/* ******************************* BACKGROUND ******************************** */
/* *************************************************************************** */

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

:root {
  --color1: #361fd6;
  /* Persian Blue */
  --color2: #dea51f;
  /* Golden Grass */
  --color3: #efbcd0;
  /* Beauty Bush */
  --color4: #dd1c28;
  /* Alizarin Crimson */
  --color5: #20e620;
  /* Malachite */
  --color6: #cc21e3;
  /* Electric Violet */
  --color7: #d165b5;
  /* Hopbush */
  --color8: #9cbdd5;
  /* Pigeon Post */
  --color9: #f2f3c7;
  /* Tusk */
  --color10: #e9a762;
  /* Porsche */
  --color11: #cd607e;
  /* Cinnamon Satin, a warm reddish-pink */
  --color12: #ff9966;
  /* Atomic Tangerine, a vibrant orange */
  --color13: #f4a460;
  /* Sandy Brown, a warm, light brown */
}


.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 1);
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  position: absolute;
  /* Use a large blur radius to create a soft, glowing effect */
  filter: blur(40px);
  /* Animate the element's position and rotation */
  animation: move 20s infinite linear;
}

@keyframes move {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(50vw, 50vh) rotate(360deg);
  }
}

/* Now use the variables for each span */
.background span:nth-child(0) {
  background-color: var(--color1);
  top: 96%;
  left: 9%;
  animation-duration: 39s;
  animation-delay: -50s;
  transform-origin: 14vw 20vh;
  box-shadow: -40vmin 0 5.125340703195078vmin currentColor;
}

.background span:nth-child(1) {
  background-color: var(--color2);
  top: 7%;
  left: 10%;
  animation-duration: 16s;
  animation-delay: -37s;
  transform-origin: -12vw -7vh;
  box-shadow: -40vmin 0 5.147146375625605vmin currentColor;
}

.background span:nth-child(2) {
  background-color: var(--color3);
  top: 83%;
  left: 1%;
  animation-duration: 26s;
  animation-delay: -29s;
  transform-origin: 10vw 4vh;
  box-shadow: -40vmin 0 5.125434756506663vmin currentColor;
}

.background span:nth-child(3) {
  background-color: var(--color4);
  top: 6%;
  left: 45%;
  animation-duration: 25s;
  animation-delay: -50s;
  transform-origin: 21vw -11vh;
  box-shadow: -40vmin 0 5.2121301416587436vmin currentColor;
}

.background span:nth-child(4) {
  background-color: var(--color5);
  top: 11%;
  left: 26%;
  animation-duration: 16s;
  animation-delay: -22s;
  transform-origin: -8vw 9vh;
  box-shadow: 40vmin 0 5.619158909650866vmin currentColor;
}

.background span:nth-child(5) {
  background-color: var(--color6);
  top: 33%;
  left: 7%;
  animation-duration: 52s;
  animation-delay: -23s;
  transform-origin: 15vw -13vh;
  box-shadow: 40vmin 0 5.271578872594347vmin currentColor;
}

.background span:nth-child(6) {
  color: #583C87;
  top: 81%;
  left: 31%;
  animation-duration: 13s;
  animation-delay: -19s;
  transform-origin: 12vw 0vh;
  box-shadow: -40vmin 0 5.16780273632795vmin currentColor;
}

.background span:nth-child(7) {
  background-color: var(--color8);
  top: 81%;
  left: 85%;
  animation-duration: 19s;
  animation-delay: -39s;
  transform-origin: 13vw 21vh;
  box-shadow: 40vmin 0 5.644889348082606vmin currentColor;
}

.background span:nth-child(8) {
  background-color: var(--color9);
  top: 75%;
  left: 85%;
  animation-duration: 49s;
  animation-delay: -18s;
  transform-origin: -6vw 0vh;
  box-shadow: -40vmin 0 5.6390822541236405vmin currentColor;
}

.background span:nth-child(9) {
  background-color: var(--color10);
  top: 93%;
  left: 65%;
  animation-duration: 26s;
  animation-delay: -7s;
  transform-origin: 9vw 19vh;
  box-shadow: 40vmin 0 5.16053049175409vmin currentColor;
}

.background span:nth-child(10) {
  background-color: var(--color11);
  top: 62%;
  left: 86%;
  animation-duration: 50s;
  animation-delay: -45s;
  transform-origin: -21vw 16vh;
  box-shadow: -40vmin 0 5.054376341805417vmin currentColor;
}


/* *************************************************************************** */
/* ***************************** COLOUR PALETTE ****************************** */
/* *************************************************************************** */

/* Color palette styles */
.color-palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
}

.color-bottom-align {
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* Aligns the content to the bottom */
  align-items: left;
  padding: 15px;
  white-space: nowrap;
  gap: 3.5px;
}

.color-top-align {
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Aligns the content to the top */
  align-items: left;
  padding: 15px;
  white-space: nowrap;
  gap: 3.5px;
}

.color-name-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 5px;
}

.copy-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  display: block;
}

/* Styles for desktop */
@media only screen and (min-width: 76em) {
  .copy-icon {
    display: none; /* Hide the icon by default on desktop */
  }

  /* Show the icon only when the parent block is hovered on desktop */
  .color-bottom-align:hover .copy-icon,
  .color-top-align:hover .copy-icon {
    display: block;
  }
}

/* Style for color name at the top */
.color-name {
  /* gap: 30px; */
  font-family: 'DM Mono', monospace;
  font-weight: 600;
  font-size: 11px;
  color: rgba(18, 18, 18, 1);
  letter-spacing: 3px;
  text-align: left;
}

/* Style for color codes */
.color-hex,
.color-rgb,
.color-cmyk {
  font-family: 'DM Mono', monospace;
  font-weight: 400;

  color: rgba(18, 18, 18, 0.75);
  text-align: left;
  font-size: 10px;

  letter-spacing: 1.6px;
  line-height: 10px;
  white-space: nowrap;
}

/* *************************************************************************** */
/* ************************ COLOUR PALETTE - LOADER ************************** */
/* *************************************************************************** */

/* Skeleton loader for colour blocks */
.loader-square-bottom-align {
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
  padding: 15px;
  white-space: nowrap;
  /* -webkit- is a hack for the Webkit Browser engine */
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(18, 18, 18, 0.2)), color-stop(18%, rgba(18, 18, 18, 0.3)), color-stop(33%, rgba(18, 18, 18, 0.2)));
  background: linear-gradient(to right, rgba(18, 18, 18, 0.2) 8%, rgba(18, 18, 18, 0.3) 18%, rgba(18, 18, 18, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-squares 2s infinite ease-out;
}

.loader-square-top-align {
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  padding: 15px;
  white-space: nowrap;
  /* -webkit- is a hack for the Webkit Browser engine */
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(18, 18, 18, 0.2)), color-stop(18%, rgba(18, 18, 18, 0.3)), color-stop(33%, rgba(18, 18, 18, 0.2)));
  background: linear-gradient(to right, rgba(18, 18, 18, 0.2) 8%, rgba(18, 18, 18, 0.3) 18%, rgba(18, 18, 18, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-squares 2s infinite ease-out;
}


@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

@keyframes wave-squares {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
