/* ColourExtractor.css */

/* *************************************************************************** */
/* *************************** OVERALL PAGE STYLE **************************** */
/* *************************************************************************** */

/* Content block styles */
.content-block {
  display: flex;
  align-items: center;
  padding: 128px 76px 128px 96px;
  flex-direction: column;
  gap: 50px;
  flex-shrink: 0;
}

.content-block .text_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.text_block .text_block_text {
  margin-top: 1em;
  align-self: stretch;
  color: rgba(18, 18, 18, 1);
  font-family: 'DM Sans', sans-serif;
  font-size: 4.2em;
  font-style: normal;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: -0.05em;
}

/* Media query for small screens (e.g., mobile devices) */
@media only screen and (max-width: 767px) {
  .text_block_text {
      font-size: 2rem; 
  }

  .text_block_subtext {
      font-size: 1rem; 
  }
}

.text_block .text_block_subtext {
  align-self: stretch;
  color: rgba(18, 18, 18, 0.50);
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.05em;

  padding-top: 1%;
  padding-bottom: 3%;
  margin-bottom: 0.5em;
}

/* *************************************************************************** */
/* ******************************* UPLOAD AREA ******************************* */
/* *************************************************************************** */

.upload-container {
  position: relative;
  /* background-color: rgba(18, 18, 18, 0.05); */
  background: rgba(255, 255, 255, 0.15);
  /* border: 0.08em dashed; */
  border-radius: 0.625em;
  /* border-color: rgba(18, 18, 18, 0.55); */
  /* border-color: var(--color1); */
  box-shadow: 0 2px 16px 6px var(--color1);
  backdrop-filter: blur(10.0px);
  -webkit-backdrop-filter: blur(10.0px);
}


/* Modify the file input styles to cover the entire container */
.upload-container input[type="file"] {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  opacity: 0;
}

.upload-container .upload-area {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  transition: border-color 0.3s;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  overflow: hidden;
  cursor: pointer;
}

.upload-area-text {
  color: rgba(18, 18, 18, 0.85);
  font-family: 'DM Sans', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
}

.upload-area .subtext {
  color: rgba(18, 18, 18, 0.50);
  font-family: 'DM Mono', monospace;
  font-size: 0.7em;
  font-weight: regular;
  white-space: nowrap;
  letter-spacing: 0.1em;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.upload-icon-dark {
  font-size: 1.5em;
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.25em;
}

.info-icon-dark {
  padding-right: 5px;
  height: 12px;
  width: 12px;
  position: relative;
}

/* Image preview styles */
.image-preview {
  text-align: center;
  position: relative;
  height: auto;
  width: auto;
  max-width: 430px;
  min-width: 200px;
  display: inline-block;
}

.image-preview img {
  object-fit: cover;
  max-width: 430px;
  min-width: 200px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
  color: #ffffff;
}

/* *************************************************************************** */
/* **************************** NUMBER SELECTION ***************************** */
/* *************************************************************************** */

.number-of-colors-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.625em;
}

.number-of-colors-text {
  color: rgba(18, 18, 18, 0.75);

  font-family: 'DM Mono', monospace;
  font-size: 0.875em;
  font-weight: 500;
  white-space: nowrap;
  letter-spacing: 0.1em;

  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.625em;
}

.number-buttons-container {
  /* Center items both vertically and horizontally */
  gap: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* *************************************************************************** */
/* *************************************************************************** */
/* *************************************************************************** */

.switch {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.theme-switcher button {
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
  font-family: Tahoma;
}


/* *************************************************************************** */
/* ***************************** COLOUR PALETTE ****************************** */
/* *************************************************************************** */

/* Color palette styles */
.color-palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
}

.color-bottom-align {
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* Aligns the content to the bottom */
  align-items: left;
  padding: 0.95em;
  white-space: nowrap;
  gap: 0.22em;
  overflow-wrap: break-word;
}

.color-top-align {
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Aligns the content to the top */
  align-items: left;
  padding: 0.95em;
  white-space: nowrap;
  gap: 0.22em;
  overflow-wrap: break-word;
}

.color-name-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 5px;
}

.copy-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  display: block;
}

/* Styles for desktop */
@media only screen and (min-width: 76em) {
  .copy-icon {
    display: none;
    /* Hide the icon by default on desktop */
  }

  /* Show the icon only when the parent block is hovered on desktop */
  .color-bottom-align:hover .copy-icon,
  .color-top-align:hover .copy-icon {
    display: block;
  }
}

/* Style for color name at the top */
.color-name {
  /* gap: 30px; */
  font-family: 'DM Mono', monospace;
  font-weight: 600;
  font-size: 0.7em;
  color: rgba(18, 18, 18, 1);
  letter-spacing: 0.2em;
  text-align: left;
}

/* Style for color codes */
.color-hex,
.color-rgb,
.color-cmyk {
  font-family: 'DM Mono', monospace;
  font-weight: 400;

  color: rgba(18, 18, 18, 0.75);
  text-align: left;
  font-size: 0.625em;
  letter-spacing: 0.12em;
  line-height: 0.7em;
  white-space: nowrap;
}

/* *************************************************************************** */
/* ********************************** OTHER ********************************** */
/* *************************************************************************** */

.glassmorphic-simple {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(18, 18, 18, 0.20);

  backdrop-filter: blur(4.0px);
  -webkit-backdrop-filter: blur(4.0px);
}

.glassmorphic-with-boarder {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(18, 18, 18, 0.20);

  backdrop-filter: blur(4.0px);
  -webkit-backdrop-filter: blur(4.0px);

  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}