/* ColourExtractor.css */

/* *************************************************************************** */
/* *************************** OVERALL PAGE STYLE **************************** */
/* *************************************************************************** */

/* Content block styles */
.content-block {
  display: flex;
  align-items: center;
  padding: 128px 76px 128px 96px;
  flex-direction: column;
  gap: 50px;
  flex-shrink: 0;
}

.content-block .text_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.text_block_text {
  margin-top: 1em;
  align-self: stretch;
  color: rgba(18, 18, 18, 1);
  font-family: 'DM Sans', sans-serif;
  font-size: 4.2em;
  font-style: normal;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: -0.05em;
}


.text_block_subtext {
  align-self: stretch;
  color: rgba(18, 18, 18, 0.50);
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.05em;

  padding-top: 1%;
  padding-bottom: 3%;
}

/* *************************************************************************** */
/* ******************************* UPLOAD AREA ******************************* */
/* *************************************************************************** */

.upload-container {
  position: relative;
  /* background-color: rgba(18, 18, 18, 0.05); */
  background: rgba(255, 255, 255, 0.15);
  /* border: 0.08em dashed; */
  border-radius: 0.625em;
  /* border-color: rgba(18, 18, 18, 0.55); */
  /* border-color: var(--color1); */

  /* background: rgba( 255, 255, 255, 0.01 ); */
  box-shadow: 0 2px 16px 6px var(--color1);
  backdrop-filter: blur(10.0px);
  -webkit-backdrop-filter: blur(10.0px);
}


/* Modify the file input styles to cover the entire container */
.upload-container input[type="file"] {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  opacity: 0;
  /* background-color: rgba(18, 18, 18, 0.85); */
}

.upload-container .upload-area {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  transition: border-color 0.3s;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  overflow: hidden;
  cursor: pointer;
}

.upload-area-text {
  color: rgba(18, 18, 18, 0.85);
  font-family: 'DM Sans', sans-serif;
  font-size: 0.25em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
}

.upload-area .subtext {
  color: rgba(18, 18, 18, 0.50);
  font-family: 'DM Mono', monospace;
  font-size: 0.8em;
  font-weight: regular;
  white-space: nowrap;
  letter-spacing: 0.1em;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.upload-icon-dark {
  font-size: 1.5em;
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.25em;
}

.info-icon-dark {
  padding-right: 5px;
  height: 12px;
  width: 12px;
  position: relative;
}

/* Image preview styles */
.image-preview {
  text-align: center;
  position: relative;
  height: auto;
  width: auto;
  max-width: 430px;
  min-width: 200px;
  display: inline-block;
}

.image-preview img {
  object-fit: cover;
  max-width: 430px;
  min-width: 200px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
  color: #ffffff;
}

/* *************************************************************************** */
/* **************************** NUMBER SELECTION ***************************** */
/* *************************************************************************** */

.number-of-colors-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.625em;
}

.number-of-colors-text {
  color: rgba(18, 18, 18, 0.75);

  font-family: 'DM Mono', monospace;
  font-size: 0.875em;
  font-weight: 500;
  white-space: nowrap;
  letter-spacing: 0.1em;

  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.625em;
}

.number-buttons-container {
  /* Center items both vertically and horizontally */
  gap: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.number-button {
  color: rgba(18, 18, 18, 0.75);
  /* background-color: rgba(18, 18, 18, 0.05); */
  background: rgba(255, 255, 255, 0.15);
  /* background-color: rgba(255, 255, 255, 0.15); */

  height: 80%;
  min-height: 2em;
  width: 14%;
  min-width: 2.5em;

  font-family: 'DM Mono', monospace;
  font-weight: 400;
  font-size: 0.8em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;

  border-radius: 38.7px;
  border: 0.05em solid rgba(18, 18, 18, 0.15);
  /*  transition: box-shadow 0.3s, transform 0.3s;
  transition: all 0.2s ease-in-out;
   */
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  align-items: center;
  justify-items: center;

  background-color: rgba(18, 18, 18, 0.05);
  border-color: rgba(18, 18, 18, 0.55);

  /* background: rgba( 255, 255, 255, 0.15 ); */
  box-shadow: 0 8px 32px 0 rgba(18, 18, 18, 0.20);
  backdrop-filter: blur(4.0px);
  -webkit-backdrop-filter: blur(4.0px);
}

.number-button:hover {
  background-color: var(--color1);
  color: getTextColor(--color1);
  transform: scale(1.1);
}

.number-button.active {
  background-color: rgba(18, 18, 18, 1);
  color: #ffffff;
  transform: scale(1.1);

  backdrop-filter: blur(0.625em);
  box-shadow: 1.2em 1.2em 2.45em -0.5em rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

/* *************************************************************************** */
/* *************************************************************************** */
/* *************************************************************************** */

.switch {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.theme-switcher button {
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
  font-family: Tahoma;
}

/* *************************************************************************** */
/* ******************************* BACKGROUND ******************************** */
/* *************************************************************************** */

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

:root {
  --color1: #e56643;
  --color2: #e5c743;
  --color3: #e58643;
  --color4: #e54382;
  --color5: #e5a643;
  --color6: #c2e543;
  --color7: #d165b5;
  --color8: #9cbdd5;
  --color9: #e54543;
  --color10: #e3e543;
  --color11: #e54361;
  --color12: #ff9966;
  --color13: #cc21e3;
}


.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 1);
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  position: absolute;
  /* Use a large blur radius to create a soft, glowing effect */
  filter: blur(40px);
  /* Animate the element's position and rotation */
  animation: move 20s infinite linear;
}

@keyframes move {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(50vw, 50vh) rotate(360deg);
  }
}

/* Now use the variables for each span */
.background span:nth-child(0) {
  background-color: var(--color1);
  top: 96%;
  left: 9%;
  animation-duration: 39s;
  animation-delay: -50s;
  transform-origin: 14vw 20vh;
  box-shadow: -40vmin 0 5.125340703195078vmin currentColor;
}

.background span:nth-child(1) {
  background-color: var(--color2);
  top: 7%;
  left: 10%;
  animation-duration: 16s;
  animation-delay: -37s;
  transform-origin: -12vw -7vh;
  box-shadow: -40vmin 0 5.147146375625605vmin currentColor;
}

.background span:nth-child(2) {
  background-color: var(--color3);
  top: 83%;
  left: 1%;
  animation-duration: 26s;
  animation-delay: -29s;
  transform-origin: 10vw 4vh;
  box-shadow: -40vmin 0 5.125434756506663vmin currentColor;
}

.background span:nth-child(3) {
  background-color: var(--color4);
  top: 6%;
  left: 45%;
  animation-duration: 25s;
  animation-delay: -50s;
  transform-origin: 21vw -11vh;
  box-shadow: -40vmin 0 5.2121301416587436vmin currentColor;
}

.background span:nth-child(4) {
  background-color: var(--color5);
  top: 11%;
  left: 26%;
  animation-duration: 16s;
  animation-delay: -22s;
  transform-origin: -8vw 9vh;
  box-shadow: 40vmin 0 5.619158909650866vmin currentColor;
}

.background span:nth-child(5) {
  background-color: var(--color6);
  top: 33%;
  left: 7%;
  animation-duration: 52s;
  animation-delay: -23s;
  transform-origin: 15vw -13vh;
  box-shadow: 40vmin 0 5.271578872594347vmin currentColor;
}

.background span:nth-child(6) {
  color: #583C87;
  top: 81%;
  left: 31%;
  animation-duration: 13s;
  animation-delay: -19s;
  transform-origin: 12vw 0vh;
  box-shadow: -40vmin 0 5.16780273632795vmin currentColor;
}

.background span:nth-child(7) {
  background-color: var(--color8);
  top: 81%;
  left: 85%;
  animation-duration: 19s;
  animation-delay: -39s;
  transform-origin: 13vw 21vh;
  box-shadow: 40vmin 0 5.644889348082606vmin currentColor;
}

.background span:nth-child(8) {
  background-color: var(--color9);
  top: 75%;
  left: 85%;
  animation-duration: 49s;
  animation-delay: -18s;
  transform-origin: -6vw 0vh;
  box-shadow: -40vmin 0 5.6390822541236405vmin currentColor;
}

.background span:nth-child(9) {
  background-color: var(--color10);
  top: 93%;
  left: 65%;
  animation-duration: 26s;
  animation-delay: -7s;
  transform-origin: 9vw 19vh;
  box-shadow: 40vmin 0 5.16053049175409vmin currentColor;
}

.background span:nth-child(10) {
  background-color: var(--color11);
  top: 62%;
  left: 86%;
  animation-duration: 50s;
  animation-delay: -45s;
  transform-origin: -21vw 16vh;
  box-shadow: -40vmin 0 5.054376341805417vmin currentColor;
}


/* *************************************************************************** */
/* ***************************** COLOUR PALETTE ****************************** */
/* *************************************************************************** */

/* Color palette styles */
.color-palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
}

.color-bottom-align {
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* Aligns the content to the bottom */
  align-items: left;
  padding: 0.95em;
  white-space: nowrap;
  gap: 0.22em;
  overflow-wrap: break-word;
}

.color-top-align {
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Aligns the content to the top */
  align-items: left;
  padding: 0.95em;
  white-space: nowrap;
  gap: 0.22em;
  overflow-wrap: break-word;
}

.color-name-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 5px;
}

.copy-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  display: block;
}

/* Styles for desktop */
@media only screen and (min-width: 76em) {
  .copy-icon {
    display: none;
    /* Hide the icon by default on desktop */
  }

  /* Show the icon only when the parent block is hovered on desktop */
  .color-bottom-align:hover .copy-icon,
  .color-top-align:hover .copy-icon {
    display: block;
  }
}

/* Style for color name at the top */
.color-name {
  /* gap: 30px; */
  font-family: 'DM Mono', monospace;
  font-weight: 600;
  font-size: 0.7em;
  color: rgba(18, 18, 18, 1);
  letter-spacing: 0.2em;
  text-align: left;
}

/* Style for color codes */
.color-hex,
.color-rgb,
.color-cmyk {
  font-family: 'DM Mono', monospace;
  font-weight: 400;

  color: rgba(18, 18, 18, 0.75);
  text-align: left;
  font-size: 0.625em;
  letter-spacing: 0.12em;
  line-height: 0.7em;
  white-space: nowrap;
}

/* *************************************************************************** */
/* ************************ COLOUR PALETTE - LOADER ************************** */
/* *************************************************************************** */

.glassmorphic-simple {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(18, 18, 18, 0.20);

  backdrop-filter: blur(4.0px);
  -webkit-backdrop-filter: blur(4.0px);
}

.glassmorphic-with-boarder {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(18, 18, 18, 0.20);

  backdrop-filter: blur(4.0px);
  -webkit-backdrop-filter: blur(4.0px);

  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Skeleton loader for colour blocks */
.loader-square-bottom-align {
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
  padding: 0.95em;
  gap: 0.22em;
  white-space: nowrap;
  overflow-wrap: break-word;
  /* -webkit- is a hack for the Webkit Browser engine */
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(18, 18, 18, 0.2)), color-stop(18%, rgba(18, 18, 18, 0.3)), color-stop(33%, rgba(18, 18, 18, 0.2)));
  background: linear-gradient(to right, rgba(18, 18, 18, 0.2) 8%, rgba(18, 18, 18, 0.3) 18%, rgba(18, 18, 18, 0.2) 33%);
  background-size: 1400px 800px;
  animation: wave-squares 2s infinite ease-out;
}

.loader-square-top-align {
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  padding: 0.95em;
  gap: 0.22em;
  white-space: nowrap;
  overflow-wrap: break-word;
  /* -webkit- is a hack for the Webkit Browser engine */
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(18, 18, 18, 0.2)), color-stop(18%, rgba(18, 18, 18, 0.3)), color-stop(33%, rgba(18, 18, 18, 0.2)));
  background: linear-gradient(to right, rgba(18, 18, 18, 0.2) 8%, rgba(18, 18, 18, 0.3) 18%, rgba(18, 18, 18, 0.2) 33%);
  background-size: 1400px 800px;
  animation: wave-squares 2s infinite ease-out;
}


@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

@keyframes wave-squares {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}