/* ColourExtractor.css */

.upload-area {
  border: 1px dashed;
  border-radius: 10px;
  border-color: rgba(18, 18, 18, 0.50);
  color: rgba(18, 18, 18, 0.50);
  text-align: center;
  padding: 20px 40px;
  cursor: pointer;
  transition: border-color 0.3s;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  overflow: hidden;
}

.upload-area:hover {
  border-color: rgb(90, 82, 82);
}

.upload-area .text {
  color: #121212;
  text-align: center;
  /* Body */
  font-family: "DM Sans-Bold", Helvetica;
  font-size: 20px;
  font-style: bold;
  font-weight: 400;
  letter-spacing: -0.18px;
}

.upload-area .subtext {
  color: rgba(18, 18, 18, 0.50);
  text-align: center;
  font-family: "DM Sans-Regular", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.upload-icon-dark {
  font-size: 24px;
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.info-icon-dark {
  padding-right: 5px;
  height: 13px;
  position: relative;
  width: 13px;
}

/* Hide file input but keep its functionality */
.upload-area input[type="file"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/* Image preview styles */
.image-preview {
  text-align: center;
  position: relative;
  height: auto;
  width: auto;
  max-width: 430px;
  min-width: 200px;
  display: inline-block;
}

.image-preview img {
  object-fit: cover;
  max-width: 430px;
  min-width: 200px;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
  color: #fff;
}

.color-controls {
  color:rgba(18, 18, 18, 1);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 25px;
}

.number-of-colors-label {
  color: #121212;
  text-align: center;
  /* Body */
  font-family: "DM Sans-Bold", Helvetica;
  font-size: 20px;
  font-style: bold;
  font-weight: 400;
  letter-spacing: -0.18px;
}

.number-button {
  border: 2px solid rgba(18, 18, 18, 0.50); /* Black border */
  border-radius: 50%; /* Circular buttons */
  width: 50px; /* Adjust based on your design */
  height: 50px; /* Adjust based on your design */
  text-align: center; /* Center the text horizontally */
  background-color: rgb(225, 255, 255); /* White background */
  color:rgba(18, 18, 18, 0.75);
  font-size: 16px; /* Adjust to match your design */
  margin: 0 10px; /* Spacing between buttons */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  display: inline-block; /* Align buttons in a row */
}

.number-button:hover,
.number-button.active {
  background-color: #f0dedc; /* Light grey background for active/hover state */
  transform: scale(1.1); /* Slightly larger on hover/active */
}

/* Color palette styles */
.color-palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
  margin: 0 auto;
}

/* color-bottom-align */
.color{
  width: 100%;
  height: 100%;
  background-color: #ccc;
  /* display: flex; */
  flex-direction: column;
  white-space: nowrap;

  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;

text-align: center;

}

.color-top-align {

}


/* Style for color name at the top */
.color-name {
  /* margin-bottom: auto; */
  /* Pushes everything else to the bottom */
  font-family: "DM Mono-Medium", Helvetica;
  font-size: 10px;
  color: white;
  letter-spacing: 3px;
  /* Larger font size for color name */
  font-weight: bold;
  text-align: left;
}

/* Style for color codes */
.color-hex,
.color-rgb,
.color-cmyk {
  margin: 5px 0;
  font-family: "DM Mono-Medium", Helvetica;
  letter-spacing: 3px;
  color: white;
  font-size: 10px;
  text-align: left;
}

/* Theme switcher styles */
/*.theme-switcher {
  position: absolute;
  top: 10px;
  right: 10px;
}*/

.switch {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.theme-switcher button {
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
  font-family: Tahoma;
}

/* Content block styles */
.content-block {
  display: flex;
  align-items: center;
  padding: 128px 76px 128px 96px;
  flex-direction: column;
  gap: 50px;
  flex-shrink: 0;
}

.content-block .text_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.text_block_text {
  margin-top: 50px;
  align-self: stretch;
  color: rgba(18, 18, 18, 1);
  /* H2 */
  font-family: "DM Sans-Bold", Helvetica;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -3.6px;
}

.text_block_subtext {
  align-self: stretch;
  color: rgba(18, 18, 18, 0.50);
  font-family: "DM Mono-Medium", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 24px; 120% */
  letter-spacing: -0.4px;
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
:root {
  --color1: #361fd6;          /* Persian Blue */
  --color2: #dea51f;          /* Golden Grass */
  --color3: #efbcd0;          /* Beauty Bush */
  --color4: #dd1c28;          /* Alizarin Crimson */
  --color5: #20e620;          /* Malachite */
  --color6: #cc21e3;          /* Electric Violet */
  --color7: #d165b5;          /* Hopbush */
  --color8: #9cbdd5;          /* Pigeon Post */
  --color9: #f2f3c7;          /* Tusk */
  --color10: #e9a762;         /* Porsche */
  --color11: #cd607e;         /* Cinnamon Satin, a warm reddish-pink */
  --color12: #ff9966;         /* Atomic Tangerine, a vibrant orange */
  --color13: #f4a460;         /* Sandy Brown, a warm, light brown */
}


.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #fcfcfc;  
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  position: absolute;
  /* Use a large blur radius to create a soft, glowing effect */
  filter: blur(40px);
  /* Animate the element's position and rotation */
  animation: move 20s infinite linear;
}

@keyframes move {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(50vw, 50vh) rotate(360deg);
  }
}

/* Now use the variables for each span */
.background span:nth-child(0) {
  background-color: var(--color1);
  top: 96%;
  left: 9%;
  animation-duration: 39s;
  animation-delay: -50s;
  transform-origin: 14vw 20vh;
  box-shadow: -40vmin 0 5.125340703195078vmin currentColor;
}
.background span:nth-child(1) {
  background-color: var(--color2);
  top: 7%;
  left: 10%;
  animation-duration: 16s;
  animation-delay: -37s;
  transform-origin: -12vw -7vh;
  box-shadow: -40vmin 0 5.147146375625605vmin currentColor;
}
.background span:nth-child(2) {
  background-color: var(--color3);
  top: 83%;
  left: 1%;
  animation-duration: 26s;
  animation-delay: -29s;
  transform-origin: 10vw 4vh;
  box-shadow: -40vmin 0 5.125434756506663vmin currentColor;
}
.background span:nth-child(3) {
  background-color: var(--color4);
    top: 6%;
  left: 45%;
  animation-duration: 25s;
  animation-delay: -50s;
  transform-origin: 21vw -11vh;
  box-shadow: -40vmin 0 5.2121301416587436vmin currentColor;
}
.background span:nth-child(4) {
  background-color: var(--color5);
    top: 11%;
  left: 26%;
  animation-duration: 16s;
  animation-delay: -22s;
  transform-origin: -8vw 9vh;
  box-shadow: 40vmin 0 5.619158909650866vmin currentColor;
}
.background span:nth-child(5) {
  background-color: var(--color6);  
  top: 33%;
  left: 7%;
  animation-duration: 52s;
  animation-delay: -23s;
  transform-origin: 15vw -13vh;
  box-shadow: 40vmin 0 5.271578872594347vmin currentColor;
}
.background span:nth-child(6) {
  color: #583C87;
  top: 81%;
  left: 31%;
  animation-duration: 13s;
  animation-delay: -19s;
  transform-origin: 12vw 0vh;
  box-shadow: -40vmin 0 5.16780273632795vmin currentColor;
}
.background span:nth-child(7) {
  background-color: var(--color8);  top: 81%;
  left: 85%;
  animation-duration: 19s;
  animation-delay: -39s;
  transform-origin: 13vw 21vh;
  box-shadow: 40vmin 0 5.644889348082606vmin currentColor;
}
.background span:nth-child(8) {
  background-color: var(--color9);  top: 75%;
  left: 85%;
  animation-duration: 49s;
  animation-delay: -18s;
  transform-origin: -6vw 0vh;
  box-shadow: -40vmin 0 5.6390822541236405vmin currentColor;
}
.background span:nth-child(9) {
  background-color: var(--color10);  top: 93%;
  left: 65%;
  animation-duration: 26s;
  animation-delay: -7s;
  transform-origin: 9vw 19vh;
  box-shadow: 40vmin 0 5.16053049175409vmin currentColor;
}
.background span:nth-child(10) {
  background-color: var(--color11);  
  top: 62%;
  left: 86%;
  animation-duration: 50s;
  animation-delay: -45s;
  transform-origin: -21vw 16vh;
  box-shadow: -40vmin 0 5.054376341805417vmin currentColor;
}