

.about-section {
  padding: 5rem;
  background: rgba(0, 0, 0, 0.1); /* Or any other color you prefer */
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 1024px;
}

/* *************************************************************************** */
/* ********************************* CONTENT ********************************* */
/* *************************************************************************** */

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;

  color:rgba(18, 18, 18, 1);
  font-family: 'DM Mono', monospace;
  font-size: 1.25em;
  font-weight: 500;
  text-decoration: none;
}

.block {
  /* background: rgba(255, 127, 80, 0.2); */
  background: rgba(18, 18, 18, 0.05);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.title {
  color: rgba(18, 18, 18, 1);
  font-family: 'DM Mono', monospace;
  font-size: 0.9em;
  font-weight: 500;
  /* white-space: nowrap; */
  letter-spacing: 0.2em;
  padding-bottom: 0.4em;

  /* text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; */
  
  text-align: left; /* Adjusted to left alignment */
  display: flex;
  justify-content: flex-start; /* Adjusted to start from the left */
  align-items: center;
  text-transform: uppercase;
}

.left-title {
  color: rgba(18, 18, 18, 1);
  font-family: 'DM Mono', monospace;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 0.2em;

  text-align: left; /* Adjusted to left alignment */
  display: flex;
  justify-content: flex-start; /* Adjusted to start from the left */
  align-items: center;
  text-transform: uppercase;
  /* overflow-wrap: break-word; */
  overflow-wrap: break-word;
  inline-size: auto;
}

.content-text {
  color: rgba(18, 18, 18, 0.75);
  font-family: 'DM Sans', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.1em;

  /* text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: none; */

  text-align: left; /* Adjusted to left alignment */
  display: flex;
  justify-content: flex-start; /* Adjusted to start from the left */
  align-items: center;
}