.palette-generator {
 background: transparent;
}

.palette-generator h2 {
  color: #333;
  text-align: center;
}

.palette-generator form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.palette-generator label {
  font-weight: normal;
}

.palette-generator input[type="text"] {
  padding: 0.5rem;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.palette-generator input[type="submit"] {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: #656e77;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.palette-generator input[type="submit"]:hover {
  background-color: #878e96;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.color-swatches {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.color-swatch {
  margin-top: 10px;
  width: 70px;
  height: 200px;
  border-radius: 4px;
}

/* Chat bubble style for response message */
.palette-response-text {
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap; /* Ensures that the spacing is preserved as in the response */
  word-wrap: break-word; /* To prevent overflow */
  text-align: left; /* Aligns text to the left */
  background-color: #f0f0f0;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  display: inline-block;
  margin: 0 auto;
  border: 1px solid #ddd;
  text-transform: none; /* Add this line to prevent uppercase transformation */
}


#palette p {
  text-align: center;
  margin: 1rem 0;
}

/* Adjustments for the chat bubble to prevent bold text */
.palette-response-text {
  background-color: #f0f0f0;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  display: inline-block;
  margin: 0 auto;
  border: 1px solid #ddd;
  font-weight: normal; /* Ensure text is not bold */
  font-size: 1rem; /* Adjust font size if needed */
  max-width: 90%; /* Ensure it does not stretch too wide */
  word-wrap:normal; /* To prevent overflow */
  text-align: left; /* Align text to the left */
}

.request-info-text {
  color: rgba(18, 18, 18, 0.75);

  font-family: "DM Mono-Medium", Helvetica;
  font-size: 14px;
  font-weight: regular;
  white-space: nowrap;
  letter-spacing: 1.4px;
  text-transform: uppercase;

  text-align: left;
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.text_block_text {
  margin-top: 50px;
  align-self: stretch;
  color: rgba(18, 18, 18, 1);
  font-family: 'DM Sans', sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -3.6px;
}

.text_block_subtext {
  align-self: stretch;
  color: rgba(18, 18, 18, 0.50);
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.4px;

  padding-top: 1%;
  padding-bottom: 3%;
}

.chat-container {
  text-align: center;
  padding: 10px 20px;
  transition: border-color 0.3s;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  overflow: hidden;
}


/* *************************************************************************** */
/* ***************************** COLOUR PALETTE ****************************** */
/* *************************************************************************** */

.copy-icon {
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Style for color name at the top */
.color-name {
  /* gap: 30px; */
  font-family: 'DM Mono', monospace;
  font-weight: 600;
  font-size: 11px;
  color: rgba(18, 18, 18, 1);
  letter-spacing: 3px;
  text-align: left;
}

/* Style for color codes */
.color-hex,
.color-rgb,
.color-cmyk {
  font-family: 'DM Mono', monospace;
  font-weight: 400;

  color: rgba(18, 18, 18, 0.75);
  text-align: left;
  font-size: 10px;

  letter-spacing: 1.6px;
  line-height: 10px;
  white-space: nowrap;
}