html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p,
a, form, label, legend, footer, header,
menu, nav, output, section, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.general, .offset-demo, .justify-items-demo, .align-items-demo, .self-demo{
    width: 80%;
    margin: 0 auto;
}

.general div{
    min-height: 4vmax;
}

.main-section{
    -ms-grid-row: span 6;
    grid-row: span 6;
}

/* TODO: change it to adjust the height */
.wrapper-2-col{
    -ms-grid-row: span 2;
    grid-row: span 2;
}

.wrapper-3-col{
    -ms-grid-row: span 3;
    grid-row: span 3;
}

/* TODO: change it to adjust the height */
.wrapper-4-col{
    -ms-grid-row: span 4;
    grid-row: span 4;
}