/* NavigationBar.css */

.nav-bar {
  z-index: 10000000; /* High value to ensure it's on top */
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  display: inline-block;
  background-color:rgba(255, 255, 255, 0.9); 
  /* padding: 3px;  */
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* TODO: think about this */
}

.nav-content {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 15px; */
}

.nav-content .title-page {
font-family: "DMSans-Bold", Helvetica;
font-size: 40px;
font-style: normal;
font-weight: 700;
letter-spacing: -1px;
color: #121212;
position: absolute;
text-align: left;
background-color: transparent;
border: none;
border-radius: 0;
}

.title-page:hover {
  color: #ec4e32;
  cursor: pointer;
}

.nav-content .links{
text-align: right;
margin-left: auto;
}

.links button{
  background-color: transparent;
  color: #121212;
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;

  color: #121212;
  font-family: "DM Sans-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.48px;
}
 
.links button:hover {
  background-color: rgba(18, 18, 18, 0.15);
  /* background-color: rgba(255, 255, 255, 0.25); */
  border-radius: 40px;
}
.light{
  /* background-color: #64267a; */
}

.dark{
  background-color: rgba(18, 18, 18, 0.5);
  /* background-color: #0c070d; */
}


/* ************************* */
/* Mobile Menu Button Styles */
/* ************************* */

.mobile-menu-btn {
  display: none; /* Initially hidden on larger screens */
}

/* Mobile Menu Styles */
.mobile-menu-btn {
  display: block; /* Show on smaller screens */
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto; /* Align to the right */
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9); /* Black background */
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-menu button {
  background-color: transparent;
  color: white;
  padding: 20px;
  margin: 10px;
  border: none;
  font-size: 18px;
}

.mobile-menu-btn.close-icon::before {
  content: '\00D7'; /* Unicode for close icon (×) */
}

@media only screen and (max-width: 768px) {
  .links {
    display: none; /* Hide links on smaller screens */
  }

  .mobile-menu-btn {
    display: block; /* Show mobile menu button on smaller screens */
  }

  .mobile-menu-btn.close-icon::before {
    content: '\2039'; /* Unicode for left-pointing double angle quotation mark (‹) */
  }

  .nav-content {
    padding-right: 0;
  }

  /* Show mobile menu when .mobile-menu-btn is clicked */
  .mobile-menu-btn:checked + .mobile-menu {
    display: flex;
  }
}

.mobile-menu-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Make sure it's on top of other content */
}

.mobile-menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu-content button {
  background-color: transparent;
  color: white;
  padding: 20px;
  margin: 10px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

