/* NavigationBar.css */

.nav-bar {
  z-index: 10000000; /* High value to ensure it's on top */
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  display: inline-block;
  background-color:rgba(255, 255, 255, 0.9); 
  /* padding: 3px;  */
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* TODO: think about this */
}

.nav-content {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 15px; */
}

.nav-content .title-page {
font-family: "DMSans-Bold", Helvetica;
font-size: 40px;
font-style: normal;
font-weight: 700;
letter-spacing: -1px;
color: #121212;
position: absolute;
text-align: left;
background-color: transparent;
border: none;
border-radius: 0;
}

.title-page:hover {
  color: #ec4e32;
  cursor: pointer;
}

.nav-content .links{
text-align: right;
margin-left: auto;
}

.links button{
  background-color: transparent;
  color: #121212;
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;

  color: #121212;
  font-family: "DM Sans-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.48px;
}
 
.links button:hover {
  background-color: rgba(18, 18, 18, 0.15);
  /* background-color: rgba(255, 255, 255, 0.25); */
  border-radius: 40px;
}
.light{
  /* background-color: #64267a; */
}

.dark{
  background-color: rgba(18, 18, 18, 0.5);
  /* background-color: #0c070d; */
}

.menu-toggle {
  position: fixed;
  right: 0;
  margin: 2em;
  color: white;
  z-index: 1;
}

.menu-toggle ion-icon {
  font-style: 16px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  z-index: 1;
  opacity: 0;
}

.overlay ion-icon {
  position: fixed;
  right: 0;
  margin: 2em;
  color: white;
}

.overlay ul {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  list-style: none;
}

.overlay ul li {
  font-size: 84px;
}

@media (max-width: 900px) {
  .overlay ul li {
    font-size: 30px;
    padding: 10px 0;
  }
}

.overlay ul li a {
  color: transparent;
  -webkit-text-stroke: 1px white;
  font-family: "Times New Roman";
  text-transform: uppercase !important;
}

.overlay ul li a:hover {
  text-decoration: none;
  color: white;
}

/* ////////////////////////////// */

/* Styles for the mobile menu */
.mobile-menu-open {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10000001; /* Higher z-index to cover the nav-bar */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px; /* Adjust as needed */
  transition: transform 0.3s ease-in-out;
}

.menu-icon {
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: #121212;
  margin: 6px 0;
}

.menu-icon.close-icon .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icon.close-icon .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.close-icon .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.mobile-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links button {
  margin: 10px 0; /* Adjust as needed */
}

/* Add a semi-transparent overlay when the mobile menu is open */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000000;
  display: none;
}

.mobile-menu-open .overlay {
  display: block;
}