/* Toast.css */
.toast {
    z-index: 10000000;
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
  }
  
  .toast-content {
    display: flex;
    align-items: center;
  }
  
  .toast-message {
    margin-right: 10px;
  }
  
  .toast-close {
    cursor: pointer;
    font-size: 18px;
  }
  
  .toast-success {
    background-color: #28a745;
  }
  
  .toast-error {
    background-color: #dc3545;
  }
  
  .toast-info {
    background-color: #17a2b8;
  }
  