/* Toast.css */
.toast {
    z-index: 10000000;
    position: fixed;
    bottom: 0;
    margin-bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: rgba(18, 18, 18, 0.45); */
    background-color: rgba(186, 229, 13, 1);
    /* background-color: rgba(255, 255, 255, 0.6); */
    
    color: rgba(18, 18, 18, 1);
    border-radius: 85px;
    padding: 10px 25px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    align-items: center;
    display: inline-flex;
    justify-content: center;

    box-shadow: 2px 8px 32px 2px rgba(18, 18, 18, 0.45);

    backdrop-filter: blur(4.0px);
    -webkit-backdrop-filter: blur(4.0px);
}

.toast-content {
    display: flex;
    align-items: center;
}

.toast-message {
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.14px;
    word-wrap: break-word;
}

.toast-close {
    cursor: pointer;
    font-size: 18px;
    justify-content: center;
}

.toast .toast-success {
    background-color: rgba(186, 229, 13, 1);
}

.toast .toast-error {
    background-color: rgba(238, 86, 34, 1);
}

.toast .toast-info {
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: rgba(18, 18, 18, 0.80);
}